<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">

    <!--

   <test verbose="2" preserve-order="true" name="Browser-Edge">
        <parameter name="browser" value="edge"></parameter>
        <packages>
            <package name=".*"></package>
        </packages>
        <classes>
            <class name="runner.RunnerTests"></class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Browser-Firefox">
        <parameter name="browser" value="firefox"></parameter>
        <packages>
            <package name=".*"></package>
        </packages>
        <classes>
            <class name="runner.RunnerTests"></class>
        </class
    </test>

-->
    <test verbose="2" preserve-order="true" name="Browser-Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name=".*"></package>
        </packages>
        <classes>
            <class name="runner.RunnerTests"></class>
        </classes>
    </test>
</suite>
